@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
.hero-bg {
  background: url(../../asset/herosection.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-btn {
  width: 130px;
  height: 40px;
  background-color: #4fd3d3 !important;
  color: white;
  border: none !important;
  border-radius: 4px !important;
}
.content-bg{
    padding: 130px;
}

.title1{
  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  color: #0a164b;
  font-family: 'Montserrat', sans-serif;
}