@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
.hero-bg {
  background: url(../../asset/herosection.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.nav-btn {
  width: 130px;
  height: 40px;
  background-color: #fbfbfb !important;
  color: black !important;
  border: 2px solid black !important;
  border-radius: 4px !important;
}
.content-bg {
  padding: 130px;
}
.navbar-nav a{
  color: black;
  margin-left: 2rem;
}
.navbar-nav a:hover{
  color:grey;
}

.title1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  color: #0a164b;
  font-family: 'Montserrat', sans-serif;
}
@media only screen and (max-width: 1920px) {
  .content-bg {
    padding: 16rem;
  }
  .middlenav {
    margin-left: 246px;
  }
  .hero-bg {
    background-size: cover;
  }
}


/* ---------for React Nav ------------ */
.navlink{
  margin: 0 6px;

}