.expName {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #0a164b;
  margin-bottom: -6px;
}
.exp-img {
  width: 241.46px;
  height: 197.89px;
}
